<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<!-- <link rel="import" href="../paper-dialog/paper-dialog.html"> -->
<link rel="import" href="../paper-dialog-lite/paper-dialog-lite.html">
<link rel="import" href="../paper-time-input/paper-time-input.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<dom-module id="date-time">
  <template>
    <style>
      :host {
        display: block;
      }
      td{
        text-align: center
      }
      .day{
        min-width: 2em !important;
        width: 2em !important;
        height: 2em ;
        border-radius: 1em;
        margin: 0;
        background: var(--app-third-bg-color,#E0EDFF);
      }
      .solid{
        background: #fAfAfA;
        border-radius: 1em;        
        border:solid 1px #337;
      }
      .buttons{
        text-align: right;
      }

      .day.disabled{
        background-color: #EEE;
        color: #AAA;
      }

      .day.current{
        background-color: var(--app-primary-color,#337);
        color: white;
      }

      td.header {
        background-color: var(--app-primary-color,#335);
        color: white;
        border-radius: 1em;
      }

      .day.normal{

      }

      .buttons > paper-button{
        font-size: 0.7em;
      }

      .buttons > paper-time-input{
        
        --paper-time-input-cotnainer:{
          font-size: 0.75em;
          width: 1.2em

        };
        --paper-time-dropdown-input-cotnainer:{
          font-size: 0.8em;
        };
      }

      .buttons > * {
        display: inline-block;       
      }

      paper-button.main{
        margin: var(--btn-margin, 1px);
        padding: var(--btn-padding,2px 3px);
      }


      #hour{
        width:1.25em;
      }

      #err{
        display: none;
      }

      .error{
        color: red;
      }

    </style>    
    <div>

      <div id="err">
        -
      </div>
      <paper-button id="button" class$="main [[class]]" disabled="[[disabled]]" on-click="_displayCalendar">[[_getFormatted(value)]] <iron-icon icon="editor:insert-invitation"></iron-icon></paper-button>
      
      <paper-dialog-lite id="calendar" no-overlap horizontal-align="left" vertical-align="top">
        <div class="solid">
          <table>
            <tr >
              <td> <paper-button class="day" on-click="_subMonth" ><iron-icon icon="chevron-left"></iron-icon></paper-button></td>
              <td colspan="5" class="header">[[_getMonth(month)]] [[year]] </td>
              <td> <paper-button class="day" on-click="_addMonth"><iron-icon icon="chevron-right"></iron-icon></paper-button></td>
            </tr>
            <tr>
              <td>S</td>
              <td>M</td>
              <td>T</td>
              <td>W</td>
              <td>T</td>
              <td>F</td>
              <td>S</td>
            </tr>
            <template is="dom-repeat" items="[[weeks]]" as="week">
              <tr>
                <template is="dom-repeat" items="[[week]]" as="day">
                  <td>
                    <paper-button on-click="_selectDay" 
                    class$="{{_getClass(day.styleClass)}}" 
                    disabled="[[day.disabled]]" raised>[[day.day]]</paper-button>
                  </td>  
                </template>
              </tr>
            </template>
          </table>
          <div style="width: 100%">
             
          </div>  
          <div class="buttons">
            <paper-time-input label="" hour="{{hour}}" min="{{minutes}}" am-pm="{{assignment}}"></paper-time-input>
            <paper-button raised on-click="_close" autofocus>Accept</paper-button>
            <paper-button raised on-click="_cancel">Cancel</paper-button>            
          </div>
        </div>     
      </paper-dialog-lite>
    </div>
      
  </template>

  <script>
    /**
     * `date-time`
     * Date Time picker
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DateTime extends Polymer.Element{
      static get is(){return 'date-time';}
      
      static get properties(){
        return {
          value:{
            type: Date,
            notify: true            
          },
          disabled:{
            type: Boolean
          },
          originalValue:{
            type: Date,
          },
          weeks:{
            type:Array
          },
          months:{
            type:Array,
            value: function(){
              return['January','February','March','April','May'
              ,'June','July','August','September'
              ,'October','November','Dicember'];
            }
          },
          day:{
            type: Number
          },
          month:{
            type: Number
          },
          year:{
            type: Number
          },
          hour:{
            type: Number
          },
          minutes:{
            type: Number
          },
          assignment:{
            type: String
          },
          class:{
            type: String
          }

        };
      }

      static get observers() {
        return [
    // Observer method name, followed by a list of dependencies, in parenthesis
          'timeChanged(hour)',
          'timeChanged(minutes)',
          'timeChanged(assignment)',
        ]   
      }

      constructor() {
        super();
        this._boundListener = this._overLayClosedListener.bind(this);
      }
      connectedCallback() {
        super.connectedCallback();
        this.$.calendar.addEventListener('iron-overlay-closed', this._boundListener);
        if(this.value == null) this.value = "empty";
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.$.calendar.removeEventListener('iron-overlay-closed', this._boundListener);
      }

      _overLayClosedListener(event){
        let value = this.value;
        this.dispatchEvent(new CustomEvent('changed', {detail: {value: value}}));
      }


      _getClass(styleClass){
        return `day ${styleClass}`;
      }

      _addMonth(){
        if(this.month == 12) this.year++;
        this.month = this.month == 12 ? 1 : (this.month +1);
        this._buildModel();
      }

      _subMonth(){
        if(this.month == 1) this.year--;
        this.month = this.month == 1 ? 12 : (this.month-1); 
        this._buildModel();
      }

      _getMonth(month){
        //let date = new Date(this.value);
        return this.months[month - 1];
      }

      _getFormatted(val){
        if(isNaN(val) || val == null){
          this.value = null;
          this.class = "error";
          let date = new Date();
          this.day = date.getDate();
          this.month =  date.getMonth() + 1;         
          this.year = date.getFullYear();
          this.hour = 12;
          this.minutes = 0;
          this.assignment = "PM";
        }
        if(this.value){
          //console.log(this.value);
          let date = this.value ? new Date(this.value) : new Date();
          //this.day = date.getDate(); 
          this.month = date.getMonth() + 1;
          this.day = `${date.getDate()}`.replace(/^([1-9])$/,'0$1');
          this. year = date.getFullYear();
          let hours = date.getHours() > 12 ? date.getHours() - 12 : date.getHours();

          this.assignment = date.getHours() >= 12 ? "PM" : "AM";
          hours = date.getHours() > 12 ?  date.getHours() - 12 : (date.getHours() == 0 ? 12 : date.getHours()); 
          this.hour = `${hours}`.replace(/^([1-9])$/,'0$1');
          this.minutes = `${date.getMinutes()}`.replace(/^([0-9])$/,'0$1');
          this.class="";
          return `${this.month}/${this.day}/${this.year} ${this.hour}:${this.minutes} ${this.assignment}`; 
        }
        return "Empty Date";
        
      }

      _close(){
        this.$.calendar.close();
      }

      _buildModel(){
        let weeks = [];
        //let date = new Date(this.value);
        let date = parseInt(this.day);
        let month = this.month -1;
        let year = this.year;
        //console.log(month);
        let minday = new Date(year, month, 1);
        let maxday = this._lastDayOfMonth(year, month + 1).getDate();
        let mindayOfWeek = minday.getDay();

        let prevMonthDate = this._getPrevMonthDate(minday);
        let maxPrevMonthDay = new Date(prevMonthDate.getFullYear(), prevMonthDate.getMonth(), 0).getDate();
        let minPrevMonthDay = maxPrevMonthDay - mindayOfWeek +1;
        //console.log(`${date} ${month} ${year}`);
        //console.log(maxday);
        //console.log(maxPrevMonthDay);

        let currentDate = this.value ? new Date(this.value) : new Date();

        let dayOfMonth = 1;

        let isCurrentDate = this._isCurrentDate;

        for (let i = 0 ; i < 6; i++){
          weeks[i] = [];
          for(let j = 0; j < 7  ;j++){
            if(i==0){
              if(mindayOfWeek > j ){
                weeks[i][j] = { 
                  day:minPrevMonthDay++ ,
                  styleClass:"disabled",
                  disabled:true
                } 
              }else{
                let isCurrDate = isCurrentDate(currentDate,year,month,date,dayOfMonth);
                weeks[i][j] = {
                  day:dayOfMonth++,
                  styleClass:  isCurrDate ? "current":"normal",
                  disabled: isCurrDate ? true:false
                }
              }
            }else{
              if(dayOfMonth >maxday) break;
              let isCurrDate = isCurrentDate(currentDate,year,month,date,dayOfMonth);
              weeks[i][j] = {
                day : dayOfMonth++,
                styleClass: isCurrDate ? "current":"normal",
                disabled: isCurrDate ? true:false
              }
            }
          }  
          if(dayOfMonth >maxday) break;
          //return new Date(year, month, 0).getDate();
        }

        if(weeks[5]){
          let j = 1;
          for(let i = 0; i < 7 ; i++){
            weeks[5][i] = weeks[5][i] ? {
              day : weeks[5][i].day,
              styleClass:"normal",
              disabled:false
            }:{
              day : j++,
              styleClass:"disabled",
              disabled:true
            }; 
          }
        }else if(weeks[4]){
          let j = 1;
          for(let i = 0; i < 7 ; i++){
            weeks[4][i] = weeks[4][i] ? {
              day : weeks[4][i].day,
              styleClass:"normal",
              disabled:false
            }:{
              day : j++,
              styleClass:"disabled",
              disabled:true
            }; 
          }
        }

        this.weeks = weeks;
      }

      _cancel(){
        this.value = new Date(this.originalValue);
        this._buildModel();
        this._close();
      }

      _selectDay(event){
        this.day = event.model.get('day.day');
        this.value = new Date(`${this.month}/${this.day}/${this.year} ${this.hour}:${this.minutes} ${this.assignment}`);
        this._buildModel();
      }

      _isCurrentDate(currentDate,year,month,dayOfMonth,evalDayOfMonth){
        
        let currentYear = currentDate.getFullYear();
        let currentMonth = currentDate.getMonth();

        return (dayOfMonth == evalDayOfMonth && currentYear == year && currentMonth == month );

      }

      _displayCalendar(){ 
        this.originalValue = new Date(this.value);
        this._getFormatted(this.value);       
        this._buildModel();               
        this.$.calendar.positionTarget = this.$.button;
        this.$.calendar.open();
      }

       _getPrevMonthDate(minday){
        return new Date(minday.getTime() - (1440 *60000));
      }

      _lastDayOfMonth(Year, Month) {
      return new Date( (new Date(Year, Month,1))-1 );
      }

      timeChanged(time){
        if(!this.value) return;

        let date = new Date(`${this.month}/${this.day}/${this.year} ${this.hour}:${this.minutes} ${this.assignment}`);
        if(! isNaN(date)){
          this.value = date;  
        }

        
        //this._buildModel();
      }

    }

   
    window.customElements.define(DateTime.is,DateTime);
  </script>
</dom-module>
