<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>date-time demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../date-time.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic date-time demo/ Current Date Time</h3>
      <demo-snippet>
        <template>
           <dom-bind id="basic">
            <template is="dom-bind">
              <date-time value={{date}}></date-time>
            </template>
             <script>
              var domBind = document.querySelector("#basic");
              domBind.date = new Date();
            </script>
           </dom-bind>             
        </template>
      </demo-snippet>
    </div>


    <div class="vertical-section-container centered">
      <h3>Basic date-time demo / Given Date Time</h3>
      <demo-snippet>
        <template>
           <dom-bind id="basic2">
            <template is="dom-bind">
              <date-time value={{date}}></date-time>
            </template>
             <script>
              var domBind = document.querySelector("#basic2");
              domBind.date = new Date(2017,0,16);
            </script>
           </dom-bind>             
        </template>
      </demo-snippet>
    </div>


    <div class="vertical-section-container centered">
      <h3>Basic date-time demo / Disabled</h3>
      <demo-snippet>
        <template>
           <dom-bind id="basic3">
            <template is="dom-bind">
              <date-time value={{date}} disabled="[[disabled]]"></date-time>
            </template>
             <script>
              var domBind = document.querySelector("#basic3");
              domBind.date = new Date();
              domBind.disabled = true;
            </script>
           </dom-bind>             
        </template>
      </demo-snippet>
    </div>


    <div class="vertical-section-container centered">
      <h3>Basic date-time demo / Missing Value</h3>
      <demo-snippet>
        <template>
          <dom-bind id="basic4">
            <template is="dom-bind">           
              <date-time></date-time>            
            </template>
          </dom-bind>  
        </template>
      </demo-snippet>
    </div>


    <div class="vertical-section-container centered">
      <h3>Basic date-time demo / Worng value</h3>
      <demo-snippet>
        <template>
           <dom-bind id="basic5">
            <template is="dom-bind">
              <date-time value={{date}}></date-time>
            </template>
             <script>
              var domBind = document.querySelector("#basic5");
              domBind.date = "7495nJH";
            </script>
           </dom-bind>             
        </template>
      </demo-snippet>
    </div>


  </body>
</html>
